extends layout

block content

    div
        a.waves-effect.waves-light.btn-large(href='http://localhost:3000/admin/adminZone') AdminZone
        table
            thead
                tr
                    th Name
                    th Departure
                    th Destination
            tbody
                tr
                    td nameContent
                    td DepartureCOntent
                    td DestinatinationContent
                tr
                    th
                    th HeureDeparture
                    th HoursDestination
                    th StigmaSomme
                tr
                    td
                    td HeureDepartureContent
                    td HoursDestinationContent
                    td StigmaSommeContent
                tr
                    th
                    th
                    th GroupName
                    th Bikers
                tr
                    td
                    td
                    td GroupNameBikersContent
                    td BikersContent
                    td
                        //form(action ='/admin/adminZone', method='GET')
                        //    button(type ='Submit') accept
                    td
                        //form(action ='/admin/adminZone', method='GET')
                        //    button(type ='Submit') refuse

