extends layout

block content

    div
        a.waves-effect.waves-light.btn-large(href='http://localhost:3000/admin/AdminLine') AdminLine
        p logitics
        br
        p Person of Contact
        table
            thead
                tr
                    th Name
                    th telphon
                    th mail
            tbody
                tr
                    td NameCOntent
                    td TelephonCOntent
                    td MailContent
                    td
                        form(action ='/admin/contactFiche', method='GET')
                            button(type='submit') show contact

        p Dirver
        table
            thead
                tr
                    th LineName
                    th driver
                    th telephon
            tbody
                tr
                    td LineNameContent
                    td driverContent
                    td telehonContent
                    td
                        form(action ='/admin/contactDriver', method='Get')
                            button(type='submit') show driver





