extends layout

block content
 div
        form(action ='/admin/adminZone', method='GET')
            button(type ='Submit') back to AdminZones
        p Driver Fiche for Zone
        table
            tbody
                tr
                    td firstname
                    td firsnames
                tr
                    td lastname
                    td lastName
                tr
                    td telephone
                    td telephoneContent
                tr
                    td mail
                    td mailContent

        form(action ='/admin/contactDriver', method='GET')
            button(type='submit') modify contact

        table
            tbody
                tr
                    label(for='idFirstname',width='33%') Firstname
                    input(type='text', id='idFirstname', name='firstname', placeholder='Type the new firstname Driver')
                tr
                    label(for='idLastname',width='33%') Lastname
                    input(type='text', id='idLastname', name='lastN^name', placeholder='Type the new Driver')
                tr
                    label(for='idMail',width='33%') Mail
                    input(type='text', id='idMail', name='mail', placeholder='Type the new mail Driver')
                tr
                    label(for='idTelephon',width='33%') telephon
                    input(type='text', id='idTelephon', name='telephone', placeholder='Type the new telepjoLastname')
        form(action ='/admin/contactDriver', method='POST')
            button(type='submit') register Driver
