extends Layout

block content
    div
        label Reservations all today
        br
        table
            //each reservation in reservations
            thead
                th departure
                th destination
                th groupname
                th bikeNumber
            tbody
                td #{reservation.fromStation}
                td #{reservation.toStation}
                td #{reservation.groupName}
                td #{reservation.bikeNumber}






