extends layout
block content
  h1(align='center') #{i18n.__('welcomeTitle')}
  div
    h4 #{i18n.__('resabikeP')}
    img.responsive-img(src='image/Panorama_7.jpg', align='center')
    h4 #{i18n.__('supportP')}
    h4 resabikeccjzsupport@gmail.com
    h4 #{i18n.__('feedbackP')}


  div
    divMain.form-group
        |
        br
        |
        form.form-vertical(role='form', method='post', action='/email')
          .form-group
            .col-sm-10
              input#sender.form-control(type='email', name='sender', placeholder='Votre adresse mail')
          |
          .form-group
            .col-sm-10
              input#destination.form-control(type='email', name='destination', placeholder='Adresse mail du destinataire')
          |
          .form-group
            .col-sm-10
              input#subject.form-control(type='text', name='subject', placeholder="L'objet du mail")
          |
          .form-group
            .col-sm-10
              textarea#message.form-control(rows='11', name='message', placeholder='Le contenu de votre mail')
          |
          .form-group
            .col-sm-10
              button.btn.btn-primary(type='submit') Envoyer
