html(lang='en')
    head
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(type='text/css', rel='stylesheet', href='/materialize/css/materialize.min.css', media='screen,projection')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        script(type='text/javascript', src='https://code.jquery.com/jquery-3.2.1.min.js')
        script(type='text/javascript', src='/materialize/js/materialize.min.js')
        block script

    body
        block nav
            nav #{title}
                .nav-wrapper
                    form(action='/', method='GET')
                        button.brand-logo(type='Submit', style='border:none;color:white;background-color:transparent') RESABIKE
                        ul#nav-mobile.right.hide-on-med-and-down
                            li
                                a(href="/login") login
                            li
                                a(href="/login/changeLang/fr") FR
                            li
                                a(href="/login/changeLang/en") EN
                            li
                                a(href="/login/changeLang/de") DE
                            li
                                form(action='/logout', method='GET')
                                     button(type='Submit', style='border:none;color:white;background-color:transparent') logout

        block content

    footer(style='border:none;background-color:#848484')
        block footer







