extends layout

block content
    div
        br
        Label Welcome to Resabike
        br
        form(action ='/login', method='POST')
            table
                tr(width='33%')
                    label(for='idLogin',width='33%') login
                    input(type='text', id='idLogin', name='username', placeholder='Type your login here', required=true)


                tr(width='33%')
                    label(for='idpassword') Password
                    input(type='password', id='idpassword',name='password', placeholder='Type your password here', required=true)
            button(type='submit') log in
        center
             font(color="red") #{erreur}
    div
        Label You dont have an account?
        a(href='http://localhost:3000/login/registration') Register here

