head
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(type='text/css', rel='stylesheet', href='/materialize/css/materialize.min.css', media='screen,projection')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

body
    script(type='text/javascript', src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(type='text/javascript', src='/materialize/js/materialize.min.js')

    block(bgcolor='#ff0000')
        nav
            .nav-wrapper
                a.brand-logo(href='#') RESABIKE
                |
                ul#nav-mobile.right.hide-on-med-and-down
                    li
                        a(href='sass.html') CONTACTS
                    |
                    li
                        a(href='badges.html') LANGUES
                    |
                    li
                        a(href='collapsible.html') LOGIN
        div
            label Reservation
            table
                tr(width='33%')
                    label(for='idFirstName',width='33%') firstName
                    input(type='text', id='idFirstName', name='input_Firstname', placeholder='Type your firstName here')


                tr(width='33%')
                    label(for='idLastName') LastName
                    input(type='text', id='idLastName',name='input_LastName', placeholder='Type your Lastname here')

                tr(width='33%')
                    label(for='idTelephon',width='33%') Telephon
                    input(type='text', id='idTelephon', name='input_Telephon', placeholder='Type your telephone number here')


                tr(width='33%')
                    label(for='idMail') Mail
                    input(type='text', id='idMail',name='input_Mail', placeholder='Type your Mail here')




        a.waves-effect.waves-light.btn-large(ref='http://localhost:3000/login') termin your account and return to login


