extends layout

block content
    div
        label Reservation
        form(action ='/login/registration', method='POST')
            table
                tr(width='33%')
                    label(for='idFirstName',width='33%') Username
                    input(type='text', id='idFirstName', name='username', placeholder='Type your firstName here')


                tr(width='33%')
                    label(for='idLastName') Password
                    input(type='password', id='idLastName',name='password', placeholder='Type your Lastname here')
                button(type='submit') termin your account and return to login


