head
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(type='text/css', rel='stylesheet', href='/materialize/css/materialize.min.css', media='screen,projection')
    link(href='/stylesheets/jquery-ui.min.css', rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

body
    script(type='text/javascript', src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(type='text/javascript', src='/materialize/js/materialize.min.js')
    script(type='text/javascript', src='/javascripts/apiCompletion.js')


    block
        nav
            .nav-wrapper
                a.brand-logo(href='#') RESABIKE
                |
                ul#nav-mobile.right.hide-on-med-and-down
                    li
                        a(href='sass.html') CONTACTS
                    |
                    li
                        a(href='badges.html') LANGUES
                    |
                    li
                        a(href='collapsible.html') LOGIN
        div

            - var listLines = Lines;


            form(action ='/superAdmin/sa_zone/sa_line/2', method='DELETE')
                label Line

                each line in listLines
                    .line

                        br
                        table
                            tbody
                                td #{line.id_line}


                                td #{line.name}

                                td #{line.fromStation}

                                td #{line.toStation}
                                td
                                    form(action ='/superAdmin/sa_zone/1' , method='GET')
                                        button(type ='Submit') show line
                                td
                                    button(type ='Submit') delete




        form(action ='/sadmin/sa_zone', method='POST')
            table

                tr(width='20%')
                    td
                        label(for='idFrom',width='20%') Line
                    td
                        input(type='text', id='idFrom', name='input_NewLine', placeholder='Type your New line here', onkeydown='autocomp(this)')
                    td
                        label(for='idTo',width='20%') Line
                    td
                        input(type='text', id='idTo', name='input_NewLine', placeholder='Type your New line here', onkeydown='autocomp(this)')

            button(type ='Submit') add new line now