extends layout

block content
    div
        form(action ='/sadmin/sa_line/' + zone , method='GET')
            button(type ='Submit') Back to line
        br
        form(action ='/sadmin/sa_line/sa_station/delete/' + line.id_line, method='Post')
            button(type ='Submit') delete
        Label line

            each station in stations
                table

                    thead
                        tr(width='20%')
                            th name
                            th stopId

                    tbody
                        tr(width='20%')
                            td name #{station.name}
                            td departure #{station.stopid}

