extends layout

block content
    div
        form(action ='/sadmin/sa_line/' + zone , method='GET')
            button(type ='Submit') Back to line
        br
        form(action ='/sadmin/sa_line/sa_station/delete/', method='Post', align='right')
            input(hidden=true, type='text', value=line.id_line, name='id_line')
            button(type ='Submit') delete
        Label line


                table

                    thead
                        tr(width='20%')
                            th name
                            th stopId
                    each station in stations
                        tbody
                            tr(width='20%')
                                td  #{station.name}
                                td  #{station.stopid}

