head
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(type='text/css', rel='stylesheet', href='/materialize/css/materialize.min.css', media='screen,projection')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

body
    script(type='text/javascript', src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(type='text/javascript', src='/materialize/js/materialize.min.js')

    block(bgcolor='#ff0000')
        nav
            .nav-wrapper
                a.brand-logo(href='#') RESABIKE
                |
                ul#nav-mobile.right.hide-on-med-and-down
                    li
                        a(href='sass.html') CONTACTS
                    |
                    li
                        a(href='badges.html') LANGUES
                    |
                    li
                        a(href='collapsible.html') LOGIN
        div

            - var listZone = zones;



                label Zone

                each zone in listZone
                    .zone

                        br
                        table
                            tbody
                                td #{zone.id_zone}


                                td #{zone.name}
                                td
                                    form(action ='/sadmin/sa_line/'+zone.id_zone , method='GET')
                                        button(type ='Submit') show line


        div
            br
            Label Add new Zone
            form(action ='/sadmin', method='POST')
                table

                    tr(width='20%')
                       td
                           label(for='idNewZone',width='20%') Zone
                       td
                            input(type='text', id='idNewZone', name='name', placeholder='Type your New Zone here')


                    tr(width='20%')
                        td
                            label(for='idNewZoneUserName') UserName
                        td
                            input(type='text', id='idNewZoneUserName',name='username', placeholder='Type the new Username here')

                    tr(width='20%')
                        td
                            label(for='idNewZonePassword',width='20%') Password
                        td
                            input(type='text', id='idNewZonePassword', name='password', placeholder='Type the new Passwprd')

                button(type ='Submit') add now