extends layout

block content
    p #{i18n.__('nomBalise')}
    p #{i18n.__('LieuDep')}
    p dasdkfhas
    br
    br
    br


    a(href="/changeLang/fr") fr
    br
    a(href="/changeLang/en") en
    br
    a(href="/changeLang/de") de
