extends layout

block content
    p #{i18n.__('nomBalise')}
    p #{i18n.__('test')}
    p dasdkfhas
    br
    br
    br


    a(href="/test/changeLang/fr") fr
    br
    a(href="/test/changeLang/en") en
    br
    a(href="/test/changeLang/de") de
