extends layout
block script
    script(src='/javascripts/mailSend.js')
block content
    p #{i18n.__('nomBalise')}
    p #{i18n.__('test')}
    p dasdkfhas
    br
    br
    br


    a(href="/test/changeLang/fr") fr
    br
    a(href="/test/changeLang/en") en
    br
    a(href="/test/changeLang/de") de


    br
    br
    br
    br


    form(action='/test/email', method='POST')
        input(type='text', name='to', placeholder='jeffjonhatanzufferey@gmail')
        input(type='text', name='subject', placeholder='subject')
        input(type='text', name='text', placeholder='textl')

        button( type='Submit') show line



