head
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(type='text/css', rel='stylesheet', href='/materialize/css/materialize.min.css', media='screen,projection')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='/javascripts/Onclick.js')

body
    script(type='text/javascript', src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(type='text/javascript', src='/materialize/js/materialize.min.js')


    block content
        nav
            .nav-wrapper
                a.brand-logo(href='http://localhost:3000/user') RESABIKE
                |
                ul#nav-mobile.right.hide-on-med-and-down
                    li
                        a(href='sass.html') CONTACTS
                    |
                    li
                        a(href='badges.html') LANGUES
                    |
                    li
                        a(href='http://localhost:3000/login') LOGIN

        div
            Label your search, your way
            br
            table
                thead
                    tr
                        th Date
                        th
                        th
                        th Departure
                        th Destination
                tbody
                    form(action ='', method='POST')
                    tr
                        td
                            input.form-control(type='date', name='datetime')
                        td
                            input(type='text', id='idDateYear', name='input_dateDay', placeholder='Year',size='35')
                        td
                            input(type='text', id='idDeparture', name='input_date', placeholder='choose your departure',size='35')
                        td
                           input(type='text', id='idDestination', name='input_date', placeholder='Choose your destination',size='35')
                        td
                            button(type ='Submit', onclick='myFunction()') search

        br
        div(name='mydivs' )
            table
                thead

                    tr
                        th Date
                        th Departure
                        th Destination
                        th Reservation
                tbody

                    tr
                        td datetest
                        td departuretest
                        td destinationtest
                        td
                            form(action ='/user/reservation', method='GET')
                                button(type ='Submit') make records
